
#busBlack {
	background-color: rgb( 0,0,0);
}

#busRed {
	background-color: rgb( 255 , 0 , 0 );
}

#busOrange {
	background-color:#DB9330;
}

#busYellow {
	background-color: rgb( 255 , 192.01500000000001 , 0 );
}

#busBrown {
	background-color:#A38142;
}

#busLime {
	background-color: #43A429;
}

#busCyan {
	background-color: #00A0F0;
}

#busPink {
	background-color:#CC007A;
}

#busPurple {
	background-color:#4B2580;
}

#busSilver {
	background-color:#007670;
}

#busGreen {
	background-color:#008A3D;
}

#busDarkGreen {
	background-color:#004534;
}

#busDarkBlue {
	background-color:#0F378A;
}

#busMaroon {
	background-color:#8E0F52;
}

#busLightBronze {
	background-color:#EABC4B;
}

#busDarkOrange {
	background-color:#F26421;
}
#busLightBlue {
	background-color:#00A0F0;
}

#busDeepEmerald
